<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="game.com.alias">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RulesActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".CreategameActivity"
            android:theme="@style/new2" />
        <activity
            android:name=".GameActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".TeamsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".WordsActivity"
            android:theme="@style/new1" />
        <activity
            android:name=".DictionaryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".EndActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LevelActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".FinalscoreActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>